# Dependências
/node_modules
/.pnp
.pnp.js

# Build
/dist
/build

# Configuração local
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema/IDE
.DS_Store
*.swp
*.swo
*.idea
.vscode/
